<div class="ui column centered grid">
  <div class="column" style="padding:10%">
    <mat-card>
      <h4 class="ui center aligned icon header">
        <i class="circular configure icon"></i>
        Add new item
      </h4>
      <div class="add-container">
        <mat-form-field hintLabel="Example: tomato">
          <input matInput #input placeholder="Enter item name" [formControl]="addFormControl" required [(ngModel)]="itemName">
        </mat-form-field>

        <mat-form-field style="margin-top:1%;">
          <mat-select placeholder="Category" [formControl]="addFormControl" required [(value)]="selectedCategory" >
            <mat-optgroup *ngFor="let group of categoryGroups" [label]="group.name">
              <mat-option *ngFor="let item of group.category" [value]="item">
                {{ item }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <mat-form-field hintLabel="Example: 5">
            <input matInput #input placeholder="Enter Threshold value" [formControl]="addFormControl" [(ngModel)]="thresholdValue">
          </mat-form-field>

        <mat-form-field hintLabel="kgs, lts..." style="margin-top:1%;">
          <mat-select placeholder="Unit" [formControl]="addFormControl" required [(value)]="selectedUnit">
            <mat-option *ngFor="let item of Units" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="button-row" style="margin-top:1%;margin-bottom:1%">
          <button mat-raised-button (click)="onAdd()">Add</button>
          <button mat-button color="warn" (click)="onReset()">Clear</button>
        </div>

      </div>
    </mat-card>
  </div>
</div>