<div class="ui column centered grid">
  <div class="column" style="padding:10%">
    <mat-card>
      <h4 class="ui center aligned icon header">
        <i class="circular configure icon"></i>
        Add new item
      </h4>
      <div class="add-container">
        <mat-form-field style="margin-top:1%;">
          <mat-select placeholder="Sub - Category" required [(value)]="selectedCategory" >
            <!-- <mat-optgroup *ngFor="let group of categoryGroups" [label]="group.name">
              <mat-option *ngFor="let item of group.category" [value]="item">
                {{ item }}
              </mat-option>
            </mat-optgroup>-->
            <!--<mat-optgroup *ngFor="let group of categoryGroups" [label]="group.name">-->
              <mat-option *ngFor="let sc of subcategory" [value]="sc">
                {{ sc }}
              </mat-option>
            <!--</mat-optgroup>-->
            
          </mat-select>
        </mat-form-field>

         <mat-form-field hintLabel="Example: tomato">
          <input matInput #input placeholder="Enter item name" required [(ngModel)]="itemName">
        </mat-form-field>

        <mat-form-field matTooltip="Enter Numbers only" hintLabel="Example: 5" *ngIf="getmainCategory()=== 'Inventory' || getmainCategory() === 'HomeSchoolInventory'">
            <input matInput #input placeholder="Enter Threshold value"  [(ngModel)]="thresholdValue" type="number" >
        </mat-form-field>

        <mat-form-field hintLabel="kgs, lts..." style="margin-top:1%;">
          <mat-select placeholder="Unit"  required [(value)]="selectedUnit">
            <mat-option *ngFor="let unit of Units" [value]="unit">
              {{ unit }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <div class="button-row" style="margin-top:1%;margin-bottom:1%">
          <button mat-raised-button (click)="onAdd()">Add</button>-->
          <!-- <button mat-button color="warn" (click)="onReset()">Clear</button>-->
          <!-- <button mat-button mat-dialog-close>Cancel</button>
        </div> -->

        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="accent" (click)="onAdd()">ADD</button>
        </mat-dialog-actions>

      </div>
    </mat-card>
  </div>
</div>