<div class="ui red raised  very padded text container" style="background-color:red;margin-top: 10%;">
    <div class="ui hidden divider"></div>
    <div class="ui floating large icon message">
    <i class="warning icon"></i>
    <div class="content">
    <div class="header">Oops - We have a problem..!</div>
    <p>We couldn't find the page you were looking for...</p>
    <a routerLink="/" class="ui right floated basic tiny icon button">
    <i class="home icon"></i>
    Home
    </a>
    <p>But we'd love to help you out of here.</p>
    </div>
    </div>
    </div>