<mat-tab-group>
  <mat-tab label="Assets" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(0)"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Groceries" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(1)"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Toiletries" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(2)"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Stationary" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(3)"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Perishable Goods" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(4)"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Miscellaneous" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(5)"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Generic Meds" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(6)"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Utilities" class="inner-content">
    <app-sub-cat-listing [subCategory]="getCat(7)"></app-sub-cat-listing>
  </mat-tab>
</mat-tab-group>

<button mat-fab class="fab-button" (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>

<!-- <iframe
  height="430" 
  width="350" 
  src="https://bot.dialogflow.com/b9adf845-0ede-402a-b779-0f225800d7df">
</iframe> -->