<mat-tab-group>
  <mat-tab label="Assets" class="inner-content">
    <app-sub-cat-listing [subCategory]="category[0]"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Groceries" class="inner-content">
    <app-sub-cat-listing [subCategory]="category[1]"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Toiletries" class="inner-content">
    <app-sub-cat-listing [subCategory]="category[2]"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Stationary" class="inner-content">
    <app-sub-cat-listing [subCategory]="category[3]"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Perishable Goods" class="inner-content">
    <app-sub-cat-listing [subCategory]="category[4]"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Miscellaneous" class="inner-content">
    <app-sub-cat-listing [subCategory]="category[5]"></app-sub-cat-listing>
  </mat-tab>
  <mat-tab label="Generic Meds" class="inner-content">
    <app-sub-cat-listing [subCategory]="category[6]"></app-sub-cat-listing>
  </mat-tab>
</mat-tab-group>

<button mat-fab class="fab-button" (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>