<mat-tab-group>
  <mat-tab label="Assets" class="inner-content">

  </mat-tab>
  <mat-tab label="Groceries" class="inner-content">

  </mat-tab>
  <mat-tab label="Toiletries" class="inner-content">

  </mat-tab>
  <mat-tab label="Stationary" class="inner-content">

  </mat-tab>
  <mat-tab label="Perishable Goods" class="inner-content">

  </mat-tab>
  <mat-tab label="Miscellaneous" class="inner-content">

  </mat-tab>
  <mat-tab label="Generic Meds" class="inner-content">

  </mat-tab>
</mat-tab-group>

<button mat-fab class="fab-button" (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>