<div style="padding:1%;overflow:inherit;">
  <mat-form-field style="width:100%;padding:2%">
    <input matInput placeholder="Search Inventory" type="search" (keyup)="search($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-grid-list cols="{{nColumns}}" rowHeight="350px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let item of items | async">
      <div class="ui raised card">
        <div class="image" (click)="onTap(item.itemId)">
          <img src="assets/tom.jpg" width="200px" height="200px" (click)="onTap(item.itemId)">
        </div>
        <div class="content">

          <div class="header">
            {{item.itemName}}
            <span class="right floated">
              <div class="ui blue label">
                {{item.itemQuantity}} {{item.unit}}
              </div>
              <button mat-icon-button (click)="onEdit(item)" style="color:black">
                <mat-icon aria-label="Example icon-button with a heart icon">
                  <i class="material-icons">edit</i>
                </mat-icon>
              </button>
              <!-- <button class="circular ui icon button" (click)="onEdit(item)">
                <i class="material-icons">
                  edit
                  </i>
              </button> -->
              <button mat-icon-button (click)="onDelete(item.itemId)" style="float:right;color:black">
                <mat-icon aria-label="Example icon-button with a heart icon">
                  <i class="material-icons">delete</i>
                </mat-icon>
              </button>
              <!-- <button class="circular ui icon button" (click)="">
                <i class="material-icons">
                  delete
                  </i>
              </button> -->
            </span>
          </div>
        </div>
        <div class="extra content">
          <span>
            <i class="history icon"></i>
            {{item.lastModified|date: "h:mma 'on' MM/dd/yyyy"}}
          </span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>