<mat-card style="padding:2%;">

  <!-- <div class="header"> -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header style="background:#3F51B5">
        <mat-panel-title>
          <div style="font-size: 1em;">
            <div class="value" style="color:white">
              Your Claims
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field style="width:100%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- </div> -->

  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
                   The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="itemName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.itemName}} </mat-cell>
      </ng-container>

      <!-- addedBy -->
      <ng-container matColumnDef="addedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Added by </mat-header-cell>
        <mat-cell *matCellDef="let element" style="word-wrap: break-word;"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateOfPurchase">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Purchase</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.date}}"> {{element.dateOfPurchase.toDate() |date: 'MM/dd/yyyy'}} </span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="billNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> BillNumber </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.billNumber}} </mat-cell>
      </ng-container>



      <!-- cost Column -->
      <ng-container matColumnDef="totalCost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> TotalCost </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalCost}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit(element)" *ngIf="this.stat === 'open'">
            <mat-icon color="warn">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onDelete(element.reimburesmentId)" *ngIf="this.stat === 'open'">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="approve">
        <mat-header-cell *matHeaderCellDef> Approve </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="approvalByAdmin(element)" *ngIf="this.stat === 'open'">
            <mat-icon color="warn">thumb_up</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
  <button mat-fab class="fab-button" (click)="addNewLog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>