<div class="main-container">
  <mat-toolbar id="mToolbar" class="myToolBar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()" style="color:white">
        <mat-icon>menu</mat-icon>
      </button>
      <a (tap)="onHome()" style="color:white;">
        <span>Reaching Hand</span>
      </a>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="signOut()" style="position:absolute;right:10px;color:white">
        <mat-icon aria-label="Example icon-button with a heart icon">
          <i class="material-icons">settings_power</i>
        </mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav class="sidebar" #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-list>
        <mat-nav-list>
          <!-- <div>
            <img src="{{image}}" alt="NO IMAGE AVAILABLE" style="border-radius:50%;position:absolute;height:60px;width:60px;top:8%;left:50%;transform:translate(-50%,-50%);">
          </div>

          <div class="detail" style="color:blue;">{{email}}</div>
          <div style="color:red;">{{roles}}</div> -->


          <img class="ui centered tiny circular image" src="{{image}}">
          <h3 class="ui orange center aligned header">
            {{roles}}
            <div class="violet center sub header">{{email}}</div>
          </h3>
          <br>
          <h3>Categories:</h3>
          <mat-list-item *ngFor="let item of category">
            <mat-icon mat-list-icon>folder</mat-icon>
            <a mat-list-item routerLink="./{{item}}" >{{item}}</a>
          </mat-list-item>
          <h3>Reports:</h3>
          <mat-list-item *ngFor="let item of reports">
            <mat-icon mat-list-icon>note</mat-icon>
            <a mat-list-item routerLink="./{{item}}">{{item}}</a>
          </mat-list-item>
          <h3>Admin Control:</h3>
          <mat-list-item *ngFor="let item of misc">
            <mat-icon mat-list-icon>folder</mat-icon>
            <a mat-list-item routerLink="./{{item}}">{{item}}</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="router-content">
      <div class="ui floating message" style="position:fixed;top:5%; right:5%; z-index:10" *ngIf="msg.currentMessage | async as message ">
        <h3>{{message.notification.title}}</h3>
        <p>{{message.notification.body}}</p>
      </div>
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>