<div class="main-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a (tap)="onHome()" style="color: inherit;">
        <span>New Home - Reaching Hands</span>
      </a>
      <span class="toolbar-spacer"></span>
      <!-- <mat-icon class="toolbar-icon">favorite</mat-icon>
      <mat-icon class="toolbar-icon">delete</mat-icon> -->
    <button mat-icon-button color="basic" (click)="signOut()" style="position:absolute;right:10px;">
      <mat-icon aria-label="Example icon-button with a heart icon">
        <i class="material-icons">settings_power</i>
      </mat-icon>
    </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav class="sidebar" #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-list>
        <mat-list-item *ngFor="let item of fillerNav">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{item}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="router-content">
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>