<mat-form-field style="width:100%;padding:2%">
  <input matInput placeholder="Search Students" type="search" (keyup)="search($event)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div style="margin: 2%;">
  <div class="ui four stackable cards">
    <div class="card" *ngFor="let student of students | async">
      <div class="image" (click)="openFolder(student.folderId)">
        <img src="{{student.image}}">
      </div>
      <div class="content">
        <div class="header">{{student.studentName}}
          <span class="right floated">
            <button mat-icon-button (click)="onEdit(student)" style="color:black">
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="material-icons">edit</i>
              </mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(student.logId)" style="float:right;color:black">
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i class="material-icons">delete</i>
              </mat-icon>
            </button>
          </span>
        </div>
        <div class="meta">
          <span class="date">Age: {{ getAge(student.dateOfBirth) }} years</span>
        </div>
        <div class="description">
          Adhar : {{student.adhar}}
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          {{ student.emailId }}
          <br> {{ student.fathersName }}
        </a>
      </div>
    </div>
  </div>

</div>
<button mat-fab class="fab-button" (click)="addNewLog()">
  <mat-icon>add</mat-icon>
</button>