<mat-card style="padding:2%;">

  <div class="header">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>USERS</h3>
          </mat-panel-title>
          <!-- <mat-panel-description>
            Quantity : {{currentQuantity}} {{item.unit}}
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-form-field style="width:100%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="mat-elevation-z8">


    <mat-table #table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- <mat-radio-group required [(ngModel)]="user.authn" style="display:block;margin-top:10px;margin-bottom:10px;clear:both;">
        <mat-radio-button *ngFor="let option of logTypeOptions" [value]="option" style="margin:2px">
          {{option}}
        </mat-radio-button>
      </mat-radio-group> -->


      <!-- <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.date}}"> {{element.startDate|date: 'MM/dd/yyyy'}} </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.date}}"> {{element.endDate|date: 'MM/dd/yyyy'}} </span>
        </mat-cell>
      </ng-container> -->



      <!-- <ng-container matColumnDef="servicer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Servicer </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.servicer}} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="email" class="mat-column-title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <b>EMAIL ID</b> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

     <!-- <ng-container matColumnDef="roles" class="mat-column-title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
        <! <mat-cell *matCellDef="let element"> {{element.roles.admin?'admin':'ss'}} <mat-checkbox [checked]="element.roles"></mat-checkbox></mat-cell> -->
        <!-- <mat-cell *matCellDef="let element"> {{element.roles.admin ? 'admin':'admin'}} </mat-cell>
      </ng-container> --> 

      <!-- <ng-container matColumnDef="admin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ADMIN </mat-header-cell>
        <mat-cell *matCellDef="let element">Admin</mat-cell>       
      </ng-container> -->

      <ng-container matColumnDef="checkAdmin">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b>ADMIN</b></mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-checkbox [checked]="element.checkAdmin" (change)="onCheckAdmin($event,element.uid)"></mat-checkbox> </mat-cell>       
      </ng-container>
     

      <!-- <ng-container matColumnDef="editor">
        <mat-header-cell *matHeaderCellDef mat-sort-header> EDITOR </mat-header-cell>
        <mat-cell *matCellDef="let element">Editor</mat-cell>       
      </ng-container> -->

      <ng-container matColumnDef="checkEditor">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b>EDITOR</b></mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-checkbox [checked]="element.checkEditor" (change)="onCheckEditor($event,element.uid)"></mat-checkbox> </mat-cell>       
      </ng-container>
     

      <!-- <ng-container matColumnDef="roles">{{element.roles.admin?'editor':'editor'}
        <mat-header-cell *matHeaderCellDef> EditRole</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit(element)">
            <mat-icon color="warn">edit</mat-icon>
          </button>
        </mat-cell> -->
      <!-- </ng-container>  -->
      <!-- <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.roles.admin?'admin':'editor'}}</mat-cell>
      <! <mat-radio-group required [(ngModel)]="user.roles" style="display:block;margin-top:10px;margin-bottom:10px;clear:both;">
        <mat-radio-button *ngFor="let option of roles" [value]="option" style="margin:2px">
          {{option}}
        </mat-radio-button>
      </mat-radio-group> -->
      <!-- </ng-container> --> 
    
<!-- 
      cost Column
      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cost </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.logType}} </mat-cell>
      </ng-container> -->


      <!-- <ng-container matColumnDef="selectedCommons">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Used By </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span matTooltip="{{element.remarks}}">
            {{element.selectedCommons}}
          </span>
        </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit(element)">
            <mat-icon color="warn">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onDelete(element.logId)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container> -->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
 
</mat-card>